.self-introduction-container {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 20px;
    height: 300px; /* 고정된 높이 설정 */
    overflow-y: auto; /* 세로 스크롤이 내용이 넘칠 때만 표시되도록 설정 */
  }
  
  .profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .introduction-text {
    color: #000000;
  }
  